<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<h1>Article</h1>
<a href="/articles/create">Write a new article</a>
<hr>

<div th:if="${articles.isEmpty()}">
    <p>no article here...</p>
</div>

<div th:unless="${articles.isEmpty()}"
     th:each="article: ${articles}"
>
   <h3>[[${article.id}]]. [[${article.title}]]</h3>
    <p>Writer: [[${article.writer}]]</p>
    <a th:href="@{/articles/{id} (id=${article.id})}">Read</a>


</div>
</body>
</html>